@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

header {
  background-color: #e2e2e2;
}

h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline-block;
}

li a {
  text-decoration: none;
  color: #0074d9;
  text-align: center;
}

.current {
  background-color: #0074d9;
  color: #fff;
}

a:hover {
  background-color: #0074d9;
  color: #fff;
}

@media only screen and (min-width: 38em) {

  .logo {

    text-align: left;
  }

}
